

<!DOCTYPE html>  
<html>  
<head>  
    <title>index</title>  
</head>  
<body>  
<form action = "http://localhost:5000/verify" method = "POST">  

  First name:<br>
  <input type="text" name="firstname">
  <br>
  Last name:<br>
  <input type="text" name="lastname">
  <br><br>
  Mobile number:<br>
  <input type="text" name="mobile">
  <br><br>
  Email Id:<br>
  <input type="email" name="mailid">
  <br><br>
  Password:<br>
  <input type="password" name="pass">
  <br><br>
  <input type="submit" value="Submit">
</form>

 
</body>  
</html> 


